<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.n8.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".SpotifyStreamerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".artists.ArtistSuggestionProvider"
            android:authorities="com.n8.ArtistSuggestionProvider" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/artist_searchable" />
        </activity>

        <service
            android:name=".playback.PlaybackService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".playback.MediaControlReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SettingsTheme"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.n8.spotifystreamer.MainActivity" />
        </activity>
    </application>

</manifest>
